html{
    background: #2984e517;
}

body{
    
    font-family:'Courier New', Courier, monospace;
   
   padding: 0%;
   margin: 0%;
   margin-right: 10%;
    background: #2984e517;
   

}

h1{
    color: rgb(0, 0, 0);
    font-size: 4em;
    margin: 0;
    text-align: left;
    text-shadow: 1px  #354652;
}
h2{
font-size: 2em;
text-align: left;
}
P{
line-height: 1.8em;

}
a{
    color:rgb(255, 255, 255);
    text-align: center;
}

#underTitle{
font-size: 1.4em;
text-align: left;

}

.navBar{
    background: #054878;
    position: fixed;

    top:0;
    right: 0;
    padding: 0%;
    height: 100%;
    width:10%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0%;
    font-size: large;

  
   
font-weight: bold;

}


.navBar nav ul {
    list-style: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
}

.navBar nav ul a {
    display: block;
    color: rgb(255, 255, 255); 
    text-decoration: none;
    padding: 10px 20px; 
    text-align: center; 
    
}

header{
    padding-top: 125px;
    margin-left:10px; 
    
}
.gamePic{
    display: flex;

    flex-direction: row;
    padding-left: 5em;
}
.homeImg{
    width:350px;
    height:350px;
    
    padding-right: 5em;
}

